*{
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

@keyframes fadeIn{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
}

body {
    background-color: rgb(229, 239, 245);
    font-family: sans-serif;
}

.introimage {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.intro {
    height: 100vh;
}

.intro video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.introname {    
    position: absolute;
    background-color: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: white;
    font-weight: bold;
    text-decoration:none;
    opacity: 1;
    animation: fadeIn 2.5s ease;
}

.viewphotos {
    position: absolute;
    transform: translate(-50%, -50%);
    padding-bottom: 300px;

}

.gotovideo {
    position: absolute;
    transform: translate(-50%, -50%);
    padding-bottom: 200px;


}

.intro h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: white;
    /* transform: rotate(270deg); */
}

.intro a {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: large;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

section {
    color: white;
}

section h1 {
    padding-top: 100px;
    text-align: center;
    font-size: 70 px;
}



.CV {
    color: black;
    padding-top: 100px;
    text-align: center;
}

.CVTEXT {
    color: black;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-areas:
    "grid1 grid2";
}

.eng {
    padding-top: 80%;
    grid-area: grid1;
    justify-self: center;
    font-size: 70%;
    text-transform: uppercase;
}
.rus {
    padding-top: 60%;
    grid-area: grid1;
    justify-self: center;
    font-weight: normal;
    font-size: 70%;
    /* font-style: italic; */
    /* text-transform: uppercase; */
}

.grid2 {
    padding: 5%;
    grid-area: grid2;
    font-weight: bold;
    justify-self: right;
    width: 100%;
    height: auto;
}

.SCHULBILDUNG1 {
    padding-top: 100px;
    grid-area: grid1;
    justify-self: center;
}

.SCHULBILDUNG2 {
    padding-top: 100px;
    grid-area: grid2;
    font-weight: bold;
    justify-self: left;
}

.SPRACHKENTNISSE1 {
    padding-top: 100px;
    grid-area: grid1;
    justify-self: center;
}

.SPRACHKENNTISSE2 {
    padding-top: 100px;
    grid-area: grid2;
    font-weight: bold;
    justify-self: left;
}
.BERUFSERFAHRUNG1 {
    padding-top: 100px;
    grid-area: grid1;
    justify-self: center;
}

.BERUFSERFAHRUNG2 {
    padding-top: 100px;
    grid-area: grid2;
    font-weight: bold;
    justify-self: left;
}

.BF2 {
    padding-top: 100px;
    grid-area: grid2;
    font-size: medium;
    font-weight: bold;
    justify-self: left;
    white-space: pre-line;
}


.AK1 {
    padding-top: 100px;
    grid-area: grid1;
    justify-self: center;
}

.AK2 {
    padding-top: 100px;
    grid-area: grid2;
    font-size: medium;
    font-weight: bold;
    justify-self: left;
    white-space: pre-line;
}

.BK1 {
    padding-top: 100px;
    grid-area: grid1;
    justify-self: center;
}

.BK2 {
    padding-top: 100px;
    grid-area: grid2;
    font-size: medium;
    font-weight: bold;
    justify-self: left;
    white-space: pre-line;
}


.mailname{
    grid-area: mail;
    justify-self: center;
    position: relative;
    left: -30px;
    transform: rotate(270deg);
    padding-top: 300px;
    font-size: small;
    color: gray;
    font-weight: bold;
    text-decoration:none;
}

#CS50 {
    position: relative;
    bottom: 1fr;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
#SQL {
    position: relative;
    bottom: 1fr;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }