*{
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

@keyframes fadeIn{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
}

body {
    background-color: rgb(229, 239, 245);
    font-family: sans-serif;
}

.introimage {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.intro {
    height: 100vh;
}

.introname {    
    position: absolute;
    background-color: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: white;
    font-weight: bold;
    text-decoration:none;
    opacity: 1;
    animation: fadeIn 1s ease;
}

.viewphotos {
    position: absolute;
    transform: translate(-50%, -50%);
    padding-bottom: 60%;
    text-align: center;

}

.gotovideo {
    position: absolute;
    transform: translate(-50%, -50%);
    padding-bottom: 50%;
}

.intro h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: white;
    /* transform: rotate(270deg); */
}

.intro a {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: large;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

#photos_start {
    padding-top: 10px;
}

section {
    color: white;
}

section h1 {
    padding-top: 100px;
    text-align: center;
    font-size: 70 px;
}



.CV {
    color: black;
    padding-top: 100px;
    text-align: center;
}

.CVTEXT {
    padding: 1%;
    color: black;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-areas:
    "grid1 grid2";
}

.eng {
    padding-top: 85%;
    grid-area: grid1;
    justify-self: center;
    font-size: 70%;
    text-transform: uppercase;
}
.rus {
    padding-top: 55%;
    grid-area: grid1;
    justify-self: center;
    font-weight: normal;
    font-size: 70%;
    /* font-style: italic; */
    /* text-transform: uppercase; */
}

.grid2 {
    padding: 5%;
    grid-area: grid2;
    font-weight: bold;
    justify-self: right;
    width: 100%;
    height: auto;
}

.contacts {
    width: 40%;
    color: black;
    font-weight: normal;
    font-size: 8px;
    position: relative;
    padding-top: 50%;
    top: -27%;
    left: 53%;
}

.layer {
    height: 100vh;   
 }

.line {
    background-color: black;
    height: 50%;
    width: 1px;
    z-index: 1;
    position: sticky;
    transform: translate(10px, 10px);
    left: 49%;
}

.credit {
    width: 40%;
    color: black;
    font-weight: normal;
    font-size: 7px;
    position: relative;
    left: 53%;
}